/*======= Navbar ========*/
.green-navbar{
	box-shadow: 0 1px 3px #afafaf;
	padding: 0 30px;
}

.nav-green{
	height: 70px;
	padding-top: 15px;
}

.nav-green li a i{
	font-size: 24px;
}

.nav-green li.active{
	border-bottom: 2px solid #00ba51;
}

.nav-green li.active a span{
	color: #00ba51;
}

.nav-green li.active a i{
	color: #00ba51;
}

/*======= END Navbar ========*/


.FavListing{
	display: block;
	float: left;
	height: auto;
	position: relative;
	width: 100%;
}

.sectTitle{
	border-bottom: 1px solid #e6e0e0;	
  height: auto;
  padding: 30px 90px;
  width: 100%;
}

/*======== RESPONSIVE MEDIA =========*/
@media(max-width:987px){
	.sectTitle{
		padding: 30px 0;
	}

	.nav-green{
		height: auto;
	}
}
/*======== RESPONSIVE MEDIA =========*/
