/*===== Navbar ======*/



/*===== END Navbar ======*/


.sectAppointment{
	background-color: #dedede;
	height: auto;
	padding: 50px 100px;
	width: 100%;
}

.appointment-data{
	height: auto;
	margin: 0 auto 0;
	position: relative;
	width: 100%;
}

.calendar-appointment{
	height: auto;
	padding: 20px;
}

.frame-calendar{
	box-shadow: 0px 2px 5px #a7a0a0;
	background-color: #fff;
	height: auto;
	width: 100%;
}

.user-appointment{
	height: auto;
	padding: 20px;
}

.box-user-app{
	box-shadow: 0px 2px 5px #a7a0a0;
	background-color: #fff;
	height: auto;
	padding: 20px;
	width: 100%;
}

.card-wrap{
	box-shadow: 1px 1px 2px #ececec;
	border:1px solid #ececec;
	max-width: unset !important;
	width: 100%;
}

.wrap-body{
	padding: 0 10px;
}

.card-date{
	font-size: 12px;
	padding: 10px;
}

.card-content{
	font-size: 14px;
	padding: 10px 0;
}

.card-image{
	height: 50px;
	width: 50px;
}

.card-text.name{
	margin:  15px auto 0;
}

.card-end{
	font-size: 12px;
}