/*========= GLOBAL STYLE ============*/

*{
	margin:0;
	padding: 0;
}

.wrapper{
	margin: 0;
	padding: 0;
}

.page-title{
	font-weight: 600;
}

.text-orange{
	color: #fd5400 !important;	
}

.text-green{
	color:#00ba51;
}

.container-center{
	height: auto;
	margin: 0 auto 0;
	width: 80%;
}

.circle-indicator{
	bottom: -7px !important;
}

.circle-indicator li{
	border-radius: 100% !important;
	height: 6px !important;
	width: 6px !important;
}

.text-yellow{
	color: #f7e71d !important;
}

.li-group{
  background: #fff;
  height: 30px;
  margin: 8px 15px;
  width: 1px;
}

.orange-bg{
		background-color: #fd9a5b !important;
}

.green-bg{
	background-color: #00ba51 !important;
}

.red-bg{
	background-color: #ed5454 !important;
}

.purple-bg{
	background-color: #346ff1 !important;
}

.grey-bg{
	background-color: #f5f6f7 !important;
}

/*=========== END GLOBAL STYLE ============*/


/*============= MODAL CSS =================*/

#blueModal{
	display: none;
}

.backdrop{
  background-color: #00000094;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 1040;
}

.mymodal-dialog{
	max-width: unset;
}

.modal-blue-content{
	border:0;
	border-radius: 10px;
	background-color: #4b8fe2;
	height: auto;
	line-height: 35px;
	margin: 0 auto 0;
	padding: 35px;
	position: relative;
	width: 65%;
}

.promotion-list li{
	list-style-type: none;
}

.promotion-list i{
	color:#ffffff4f;
}

.icon-close{
	cursor: pointer;
  font-size: 35px;
  position: absolute;
  right: 15px;
  top: 0;
}

/*============= END MODAL CSS =================*/

/*===== NAVBAR ====*/

.header-content{
	width: 100%;
}

.container-wrap{
	height: auto;
	margin: 0 auto 0;
	position: relative;
	width: 85%;
}

.navs{
	display: flex; 
}

.sublist{
	display: none;
}

.navbar-grey .navbar-nav li {
  color: #000000b8;
  font-size: 12px;
}

.navbar-grey .navs {
	color: #000000b8;
}

.navbar-grey .li-group{
	background: #b7b7b7;
	height: 30px;
	margin: 8px 15px;
	width: 1px;
}

.navbar-grey .form-search{
	width: 300px;
}

.navbar-grey .form-search:focus{
	box-shadow: 0 0 0 0 transparent;
	border-color:  #ced4da;
	outline: none;
}
/*====== END NAVBAR ====*/


/*============ SECTION ONE ============*/

.sectionOne{
	display: block;
	float: left;
	height: auto;
	position: relative;
	width: 100%;
}

.jumbotron-intro{
	background:url('../images/jumbotron.jpg');
	background-size: cover;
	color: #fff !important;
	display: block;
	height: 500px;
	padding-top: 15px;
	position: relative;
	width: 100%;
}

.jumbotron-intro a{
	color: #fff;
}

.intro-text{
  display: block;
  height: auto;
  margin: 80px auto 0;
  text-align: center;
  width: 500px;
}

.tabs-nav{
	height: auto;
	margin:0 auto 0;
	position: relative;
	width: 100%;
}

.search-tabs{
	background: #fff;
	border-radius: 5px;
	margin: 1px auto 0;
	padding: 5px;
	width: 660px;
}

.form-tab-search{
	border:0 !important;
}

.form-tab-search:focus{
	box-shadow: 0 0 0 0 transparent !important;	
}

.navs-tab{
	border-bottom: 0 !important;
}

.nav-link-tab{
	background-color: #161914c7;
	border:0 !important;
  font-size: 14px;
  padding: 10px 35px !important;
}

.nav-link-tab:hover{
	border:0;
	outline: none;
}

.nav-link-tab.active{
  font-size: 14px;
  font-weight: 700;
  padding: 10px 35px !important;
}

.dropdown-list{
  height: auto;
  position: absolute;
  right: 45px;
  width: 220px;
  top: 65px;
}

.dropmenu-list{
	line-height: 2em;
}

.dropmenu-list a{
	color: #000 !important;
  padding-left: 15px;
  padding-right: 60px;
}

.dropmenu-list a:active{
	background-color: #e8e8e847;
}

.dropmenu-list:after {
  border-color: #ffffff rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 13px 8px 0;
  bottom: 175px;
  content: "";
  display: block;
  left: 105px;
  position: absolute;
  width: 0;
  transform: rotate(180deg);
}

/*============= END SECTION ONE =============*/




/*============== SECTION TWO ======================*/

.sectionTwo{
	display: block;
	float: left;
	height: auto;
	padding: 30px 0;
	position: relative;
	width: 100%;
}

.new-listings{
	display: block;
	height:auto;
	padding-top: 25px;
	position: relative;
	width: 100%;
}

.first-row-list{
	display: block;
	height: auto;
	width: 100%;
}

.second-row-list{
	display: block;
	height: auto;
	padding-top: 10px;
	width: 100%;
}

.data-list{
	height: auto;
	margin-bottom: 25px;
	width: 100%;
}

.card-list{
	border:0;
	width: 100% !important;
}

.card-body-list{
	padding: 10px 0;
}

.card-body-list p{
	margin: 0;
	padding: 2px 0;
}

.list-region{
	font-size: 12px;
	font-weight: 600;
}

.place-title{
	font-size: 16px;
	font-weight: 600;
}

.price-list{
	font-size: 14px;
}

.price-list span{
	color: #fe5400;
	font-weight: 600;
}

.property-date{
	font-size: 12px;
}

.property-subdetail{
	font-size: 14px;
}

.read{
  font-size: 14px;
  font-weight: 600;
}

.show-all{
	font-size: 18px;
}

.image-list{
	background-color: #e5e5e5;
	height: 190px;
	width: 100%;
}

.detail-list{
	background-color: #d0d0d0;
	height: 110px;
	width: 100%;
}

.fav-list{
	background-color: #fff;
  border-radius: 100%;
  box-shadow: 0px 0px 10px #d2c4c4;
  cursor: pointer;
	font-size: 20px;  
  height: 40px;
  padding: 7px 10px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 40px;
  z-index: 99;
}

.fav{
	color:#f4231e;
}

.card-img-top{
	border-radius: 5px;
}

/*============== END SECTION TWO ======================*/






/*=============== SECTION THREE =========================*/

.sectionThree{
	display: block;
	float: left;
	height: auto;
	padding: 30px 0;
	position: relative;
	width: 100%;	
}

.property-news{
	display: block;
	height:auto;
	margin-bottom: 75px;
	padding-top: 25px;
	position: relative;
	width: 100%;
}

/*================= END SECTION THREE =====================*/




/*================== SECTION FOUR ============================*/

.contact{
	background-color: #f5f6f7;
	display: block;
	float: left;
	height: auto;
	padding: 70px 0;
	position: relative;
	width: 100%;	
}

.list-contact{
	list-style-type: none;
}

.list-contact li{
	font-size: 14px;
	line-height: 35px;
}

.wrap-form-subscribe{
	display: flex;
	margin-bottom: 15px;
	width: 55%;
}

.btn-sub{
	background-color: #fe5400;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}

.img-store img{
	width: 100%;
}

.footer{
	background-color: #f5f6f7;
	border-top:1px solid #d8d8d8;
	float: left;
	padding:25px 0 10px;
	width: 100%;
}

/*==================== END SECTION FOUR =========================*/

/*====================== RESPONSIVE MEDIA ==========================*/
@media(max-width: 985px){
	/*======= NAVBAR ========*/
		.dropdown-list{
			right: 60px;
			top: 20px;
			width: auto;
		}

		.dropmenu-list:after{
			left:200px;
		}

		.li-group{
			display: none;
		}

		.sublist{
			position: absolute;
	    display: flex;
	    right: 15px;
	    top: 30px;
	    z-index: 9;
		}

		.btn-toggle{
			margin-right: 50px;
		}

		.more-li{
			display: none;
		}
	/*======= END NAVBAR ========*/

	/*=====SECTION ONE =====*/
		.jumbotron-intro{
			height: auto;
		}
		.tabs-nav{
			padding: 25px 10px;
		}
		.search-tabs{
			width: auto;
		}
	/*===== END SECTION ONE =====*/
}


@media(max-width: 768px){
		.btn-toggle{
			margin-right: 80px;
		}
	/*=====SECTION ONE =====*/
		
	/*===== END SECTION ONE =====*/
}

@media(max-width: 500px){
	/*=====SECTION ONE =====*/
		.jumbotron-intro{
			height: auto;
		}
		.intro-text{
			width: auto;
		}

		.tabs-nav{
			padding: 20px 10px;
		}

		.search-tabs{
			width: auto;
		}
	/*===== END SECTION ONE =====*/


	/*====== SECTION FOUR ======*/
	.wrap-form-subscribe{
		width: auto;
	}
	/*====== END SECTION FOUR ======*/

}
/*====================== END RESPONSIVE MEDIA ==========================*/
